@mixin real-shadow($color, $alpha: 0.3) {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    margin: auto;
    height: calc(100% - 2.5em);
    width: calc(100% - 3em);
    background: {
      color: rgba($color, $alpha);
    }
    filter: blur(20px);
    z-index: -1;
  }
}
