@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin max-square($size) {
  max-width: $size;
  max-height: $size;
}

@mixin min-square($size) {
  min-width: $size;
  min-height: $size;
}

@mixin circle($size) {
  @include square($size);
  @include max-square($size);
  border-radius: 50%;
}
