@use "sass:math";
@mixin space-x-y($gutter, ) {
  $space: math.div($gutter , 2);

    margin: -#{$space};
    > * {
      margin: $space;
    }

}

@mixin space-x($gutter, $last-child: false) {
  @if ($last-child) {
    > * {
      margin-right: $gutter;
    }
  }@else {
    > *:not(:last-child) {
      margin-right: $gutter;
    }
  }
}

@mixin space-y($gutter, $last-child: false ) {
  @if ($last-child) {
    > * {
      margin-bottom: $gutter;
    }
  } @else {
    > *:not(:last-child) {
      margin-bottom: $gutter;
    }
  }
}



