
/* Shared */
$s-space--small: 0.5rem;

/* Layout default */
$s-main-space-y: $s-space--32;
$s-xl-main-space-y: $s-space--48;

$s-main-gap: $s-space--48;
$s-xxl-main-gap: $s-space--64;

/* Navigation Drawer */
$s-nav-opened-width: rem-size(280);
$s-lg-nav-opened-width: rem-size(290);
$s-nav-closed-width: rem-size(120);

/* Header */


/* Timeline */
$tl-dot-size: 12;
